flow.json

[
    {
        "id": "f60386f8.fcca",
        "type": "tab",
        "label": "IN: Weather Observed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6381ba4d.6646dc",
        "type": "tab",
        "label": "IN: OpenSenseMap",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0e206da.e4f718",
        "type": "http request",
        "z": "f60386f8.fcca",
        "name": "OWM Get",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "cb42f856.acc718",
                "9de941.6d3536c"
            ]
        ]
    },
    {
        "id": "8084ae75.b9a0c",
        "type": "inject",
        "z": "f60386f8.fcca",
        "name": "Trigger APIs",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "6cbcc477.950634"
            ]
        ]
    },
    {
        "id": "6cbcc477.950634",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Setup OWM Request",
        "func": "msg.url = \"https://api.openweathermap.org/data/2.5/weather?id=\"+env.get(\"SC_OWM_STATION\")+\"&units=metric&appid=\"+env.get(\"SC_OWM_API_KEY\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "b0e206da.e4f718"
            ]
        ]
    },
    {
        "id": "2a878a66.f05cf6",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Prepare NGSI Create Message",
        "func": "var observed_at = new Date();\nmsg.payload={\n        \"id\": \"urn:ngsi-ld:WeatherObserved:Germany-WeatherObserved-\" + msg.owm.id,\n    \"type\": \"WeatherObserved\",\n    \"address\": {\n        \"type\": \"PostalAddress\",\n        \"value\": {\n            \"addressCountry\": \"DE\",\n            \"addressLocality\": \"None\"\n        }\n    },\n    \"atmosphericPressure\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.main.pressure\n    },\n    \"dataProvider\": {\n        \"type\": \"Text\",\n        \"value\": \"OWM\"\n    },\n    \"dateObserved\": {\n        \"type\": \"DateTime\",\n        \"value\": observed_at.toISOString()\n    },\n    \"location\": {\n        \"type\": \"geo:json\",\n        \"value\": {\n            \"type\": \"Point\",\n            \"coordinates\": msg.owm.coord\n        }\n    },\n    \"precipitation\": {\n        \"type\": \"Number\",\n        \"value\": \"None\"\n    },\n    \"pressureTendency\": {\n        \"type\": \"Number\",\n        \"value\": \"None\"\n    },\n    \"relativeHumidity\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.main.humidity\n    },\n    \"source\": {\n        \"type\": \"URL\",\n        \"value\": \"https://openweathermap.com\"\n    },\n    \"stationCode\": {\n        \"type\": \"Text\",\n        \"value\": msg.owm.id\n    },\n    \"stationName\": {\n        \"type\": \"Text\",\n        \"value\": msg.owm.name\n    },\n    \"temperature\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.main.temp\n    },\n    \"windDirection\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.wind.deg\n    },\n    \"windSpeed\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.wind.speed\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "d46de467.aafb08"
            ]
        ]
    },
    {
        "id": "cb42f856.acc718",
        "type": "debug",
        "z": "f60386f8.fcca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "d46de467.aafb08",
        "type": "http request",
        "z": "f60386f8.fcca",
        "name": "http POST Request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 250,
        "y": 840,
        "wires": [