flow.json

[
    {
        "id": "f60386f8.fcca",
        "type": "tab",
        "label": "IN: Weather Observed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6381ba4d.6646dc",
        "type": "tab",
        "label": "IN: OpenSenseMap",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0e206da.e4f718",
        "type": "http request",
        "z": "f60386f8.fcca",
        "name": "OWM Get",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "cb42f856.acc718",
                "9de941.6d3536c"
            ]
        ]
    },
    {
        "id": "8084ae75.b9a0c",
        "type": "inject",
        "z": "f60386f8.fcca",
        "name": "Trigger APIs",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "6cbcc477.950634"
            ]
        ]
    },
    {
        "id": "6cbcc477.950634",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Setup OWM Request",
        "func": "msg.url = \"https://api.openweathermap.org/data/2.5/weather?id=\"+env.get(\"SC_OWM_STATION\")+\"&units=metric&appid=\"+env.get(\"SC_OWM_API_KEY\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "b0e206da.e4f718"
            ]
        ]
    },
    {
        "id": "2a878a66.f05cf6",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Prepare NGSI Create Message",
        "func": "var observed_at = new Date();\nmsg.payload={\n        \"id\": \"urn:ngsi-ld:WeatherObserved:Germany-WeatherObserved-\" + msg.owm.id,\n    \"type\": \"WeatherObserved\",\n    \"address\": {\n        \"type\": \"PostalAddress\",\n        \"value\": {\n            \"addressCountry\": \"DE\",\n            \"addressLocality\": \"None\"\n        }\n    },\n    \"atmosphericPressure\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.main.pressure\n    },\n    \"dataProvider\": {\n        \"type\": \"Text\",\n        \"value\": \"OWM\"\n    },\n    \"dateObserved\": {\n        \"type\": \"DateTime\",\n        \"value\": observed_at.toISOString()\n    },\n    \"location\": {\n        \"type\": \"geo:json\",\n        \"value\": {\n            \"type\": \"Point\",\n            \"coordinates\": msg.owm.coord\n        }\n    },\n    \"precipitation\": {\n        \"type\": \"Number\",\n        \"value\": \"None\"\n    },\n    \"pressureTendency\": {\n        \"type\": \"Number\",\n        \"value\": \"None\"\n    },\n    \"relativeHumidity\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.main.humidity\n    },\n    \"source\": {\n        \"type\": \"URL\",\n        \"value\": \"https://openweathermap.com\"\n    },\n    \"stationCode\": {\n        \"type\": \"Text\",\n        \"value\": msg.owm.id\n    },\n    \"stationName\": {\n        \"type\": \"Text\",\n        \"value\": msg.owm.name\n    },\n    \"temperature\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.main.temp\n    },\n    \"windDirection\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.wind.deg\n    },\n    \"windSpeed\": {\n        \"type\": \"Number\",\n        \"value\": msg.owm.wind.speed\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "d46de467.aafb08"
            ]
        ]
    },
    {
        "id": "cb42f856.acc718",
        "type": "debug",
        "z": "f60386f8.fcca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "d46de467.aafb08",
        "type": "http request",
        "z": "f60386f8.fcca",
        "name": "http POST Request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 250,
        "y": 840,
        "wires": [
            [
                "79a0464e.da0528",
                "533d8311.883374"
            ]
        ]
    },
    {
        "id": "3aa3eb1f.29da4c",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Setup NGSI Request",
        "func": "msg.url = env.get(\"SC_ORION_SERVER\")+\"/v2/entities\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Fiware-Service'] = 'mainservice';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "2a878a66.f05cf6"
            ]
        ]
    },
    {
        "id": "79a0464e.da0528",
        "type": "debug",
        "z": "f60386f8.fcca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "2c4280b2.4ae098",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Setup NGSI PUT Request",
        "func": "msg.url = env.get(\"SC_ORION_SERVER\")+\"/v2/entities/urn:ngsi-ld:WeatherObserved:Germany-WeatherObserved-\"+msg.owm.id+\"/attrs\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Fiware-Service'] = 'mainservice';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "737eae43.ef4c7"
            ]
        ]
    },
    {
        "id": "1e6da670.107b32",
        "type": "comment",
        "z": "f60386f8.fcca",
        "name": "Get current weather data from OWM for one Station",
        "info": "",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "38bbd4ff.e55bbc",
        "type": "comment",
        "z": "f60386f8.fcca",
        "name": "Update Station (Assume Station already exists, if not, create it once)",
        "info": "",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "737eae43.ef4c7",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Prepare NGSI Update Message",
        "func": "var observed_at = new Date();\nmsg.payload={\n    \"atmosphericPressure\": {\n        \"value\": msg.owm.main.pressure\n    },\n    \"relativeHumidity\": {\n        \"value\": msg.owm.main.humidity\n    },\n    \"temperature\": {\n        \"value\": msg.owm.main.temp\n    },\n    \"windDirection\": {\n        \"value\": msg.owm.wind.deg\n    },\n    \"windSpeed\": {\n        \"value\": msg.owm.wind.speed\n    },\n    \"dateObserved\": {\n        \"value\": msg.owm.dt\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "ba5203e2.04f54"
            ]
        ]
    },
    {
        "id": "ba5203e2.04f54",
        "type": "http request",
        "z": "f60386f8.fcca",
        "name": "http PUT Request",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "2bfa3719.457f48",
                "38182ce5.ff342c"
            ]
        ]
    },
    {
        "id": "d4204e4c.d4c3e8",
        "type": "comment",
        "z": "f60386f8.fcca",
        "name": "Create Station",
        "info": "",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "2bfa3719.457f48",
        "type": "switch",
        "z": "f60386f8.fcca",
        "name": "Switch on StatusCode other than 204 to Create",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 600,
        "wires": [
            [],
            [
                "3aa3eb1f.29da4c"
            ]
        ]
    },
    {
        "id": "38182ce5.ff342c",
        "type": "debug",
        "z": "f60386f8.fcca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "9de941.6d3536c",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Save OWM Response",
        "func": "msg.owm = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "2c4280b2.4ae098"
            ]
        ]
    },
    {
        "id": "533d8311.883374",
        "type": "function",
        "z": "f60386f8.fcca",
        "name": "Setup NGSI Request",
        "func": "msg.url = env.get(\"SC_ORION_SERVER\")+\"/v2/subscriptions\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Fiware-Service'] = 'mainservice';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 980,